<!DOCTYPE html>
<html>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<body>

<p>Try to change the names.</p>

<div ng-app="myApp" ng-controller="myCtrl">

Nomezino: <input type="text" ng-model="firstName"><br>
Sbrenomezinho: <input type="text" ng-model="lastName"><br>
<br>
Todo nomezinho: {{firstName + " " + lastName}}

</div>

<script>
var app = angular.module('myApp', []);
app.controller('myCtrl', function($scope) {
    $scope.firstName= "eu";
    $scope.lastName= "sou lindo";
});
</script>

</body>
</html>
 	